<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="randevu_sistemi_5.Properties.Settings.randevu_sistemiConnectionString"
            connectionString="Data Source=DESKTOP-4VOD4RV\SQLEXPRESS01;Initial Catalog=randevu_sistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>